<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bdc.business">

    <application>
        <activity android:name=".Business2Activity"></activity>
        <activity android:name=".BusinessActivity" />
    </application>

</manifest>